body {
  margin: 0 auto;
}

header {
  opacity: 1;
}
header .top {
  position: relative;
  height: 70px;
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #e6e6e6;
  border-top: 2px solid #e6e6e6;
  font-family: "Metropolis";
}
header a {
  text-decoration: none;
  color: #000;
}
header .icon {
  font-size: 27px;
}
header .logo {
  display: flex;
  top: 26px;
  left: 30px;
  width: 249px;
  height: 58px;
  padding: 5px;
}
header .contact {
  position: absolute;
  display: flex;
  top: 50%;
  color: #000;
  left: 46%;
  transition: 0.3s;
}
header .contact span {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 10px;
}
header .contact:hover {
  color: #37ea37;
}
header .favourite {
  position: absolute;
  display: flex;
  top: 50%;
  color: #000;
  left: 58%;
  transition: 0.3s;
}
header .favourite span {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 10px;
}
header .favourite:hover {
  color: #37ea37;
}
header .account {
  position: absolute;
  display: flex;
  top: 50%;
  color: #000;
  left: 70%;
  transition: 0.3s;
}
header .account span {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-left: 10px;
}
header .account:hover {
  color: #37ea37;
}
header .shopping-cart {
  position: absolute;
  top: 10px;
  left: 80%;
  height: 45px;
  width: 210px;
  border: 2px solid #e6e6e6;
  color: #000;
}
header .shopping-cart .cart-bg {
  position: absolute;
  right: 168.5px;
  height: 45.8px;
  width: 40px;
  border-right: 2px solid #e6e6e6;
}
header .shopping-cart .cart-bg .cart-icon {
  position: absolute;
  display: inline-block;
  top: 5px;
  height: 43px;
  padding: 4px 6px 0 6px;
  font-size: 27px;
}
header .shopping-cart span {
  position: absolute;
  left: 44px;
  top: 5px;
  padding: 4px 8px 0 8px;
  font-size: 14px;
}
header .shopping-cart span p {
  position: absolute;
  left: 25px;
  top: 5px;
}
header .shopping-cart .arrow-icon {
  display: inline-block;
  position: absolute;
  left: 173px;
  top: 5px;
  height: 41px;
  color: #fff;
  padding: 4px 6px 0 6px;
  font-size: 27px;
}
header .shopping-cart .arrow-bg {
  position: absolute;
  top: 0;
  left: 170px;
  width: 39px;
  height: 45px;
  border-left: 2px solid #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
  background-color: #48ff48;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 70px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-family: "Metropolis";
  color: #000;
  border-bottom: 2px solid #e6e6e6;
}
header nav .nav-item {
  display: flex;
  font-size: 14px;
  transition: color 0.3s;
}
header nav .nav-item:hover {
  color: #2bbe2b;
  background-color: #fff;
}

@media (max-width: 769px) {
  header {
    opacity: 0;
  }
}
@media (max-width: 1050px) {
  .top .icon {
    font-size: 12px;
  }
  .top .contact {
    left: 42%;
  }
  .top .contact span {
    font-size: 10px;
  }
  .top .favourite {
    left: 54%;
  }
  .top .favourite span {
    font-size: 10px;
  }
  .top .account {
    left: 66%;
  }
  .top .account span {
    font-size: 10px;
  }
  .top .shopping-cart {
    left: 76%;
    height: 35px;
    width: 190px;
  }
  .top .shopping-cart .cart-bg {
    height: 35px;
    width: 10px;
    right: 150px;
  }
  .top .shopping-cart .cart-bg .cart-icon {
    font-size: 19px;
    left: -25px;
  }
  header nav .nav-item {
    font-size: 10px;
  }
}/*# sourceMappingURL=header.css.map */