@use "./_mixins" as size;

.header {
	position: relative;
	width: 100%;
	.header__logo {
		display: none;
		position: absolute;
		top: 3px;
		left: 30px;
		width: 249px;
		height: 58px;
		padding: 5px;
	}
	.header__logoMobile {
		display: block;
		text-align: center;
	}
	margin: 0 auto;
	font-family: "MetropolisB";
	.top {
		position: relative;
		height: 70px;
		width: 100%;
		margin-top: 10px;
		text-transform: uppercase;
		border-bottom: 2px solid #e1e2e8;
		.top__row {
			position: relative;
			left: 28.5%;
			width: 300px;
			height: 50px;
			// background-color: red;
			.top__contact {
				@include size.size;
				left: 0;
				bottom: 0;
				transition: color 0.3s;
				span {
					top: 0;
					font-size: 12px;
				}
			}
			.top__contact:hover {
				color: #9bcb3b;
			}
			.top__favourite {
				@include size.size;
				left: 30%;
				bottom: 0;
				transition: color 0.3s;
				span {
					top: 0;
					font-size: 12px;
				}
			}
			.top__favourite:hover {
				color: #9bcb3b;
			}
			.top__account {
				@include size.size;
				left: 61%;
				bottom: 0;
				transition: color 0.3s;
				span {
					top: 0;
					font-size: 12px;
				}
			}
			.top__account:hover {
				color: #9bcb3b;
			}
		}
		.top__shoppingCart {
			position: absolute;
			top: 10px;
			right: 0;
			height: 35px;
			width: 190px;
			border: 2px solid #e1e2e8;
			color: #000;
			.shoppingCart__bg {
				position: absolute;
				right: 150.5px;
				height: 35.9px;
				width: 40px;
				border-right: 2px solid #e1e2e8;
				.shoppingCart__cartIcon {
					position: absolute;
					display: inline-block;
					top: 1px;
					height: 43px;
					padding: 4px 6px 0 6px;
					font-size: 27px;
				}
			}
			span {
				position: absolute;
				left: 45px;
				top: 3px;
				padding: 4px 3px 0 8px;
				font-size: 11px;
				p {
					position: absolute;
					left: 25px;
					top: 5px;
				}
			}
			.shoppingCart__arrowBg {
				position: absolute;
				top: -1px;
				left: 150px;
				width: 39px;
				height: 36px;
				border-left: 2px solid #e1e2e8;
				border-bottom: 2px solid #e1e2e8;
				background-color: #9bcb3b;
			}
			.shoppingCart__arrowIcon {
				display: inline-block;
				position: absolute;
				right: 1px;
				top: 4px;
				height: 41px;
				color: #fff;
				padding: 4px 6px 0 6px;
				font-size: 20px;
			}
		}
	}
	a {
		text-decoration: none;
		color: #000;
	}

	.icon {
		font-size: 17px;
	}

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		top: 70px;
		width: 100%;
		height: 50px;
		margin: 0 5px;
		text-transform: uppercase;
		color: #000;
		border-bottom: 2px solid #e1e2e8;
		.nav__item {
			display: flex;
			font-size: 14px;
			transition: color 0.5s, scale 0.5s;
			cursor: pointer;
		}
		.nav__item:hover {
			color: #9bcb3b;
			scale: 1.1;
		}
	}
}
