@use "./mixin'y.scss" as size;

header {
	margin: 0 auto;
	font-family: "MetropolisB";
	.top {
		position: relative;
		height: 70px;
		width: 100%;
		margin-top: 10px;
		text-transform: uppercase;
		border-bottom: 2px solid #e6e6e6;
		border-top: 2px solid #e6e6e6;
	}
	a {
		text-decoration: none;
		color: #000;
	}
	.logo-mobile {
		opacity: 0;
	}
	.icon {
		font-size: 27px;
	}
	.logo {
		display: flex;
		top: 26px;
		left: 30px;
		width: 249px;
		height: 58px;
		padding: 5px;
	}
	.contact {
		@include size.size;
		left: 46%;
		transition: 0.3s;
		span {
			display: flex;
			align-items: center;
			font-size: 14px;
			margin-left: 10px;
		}
	}
	.favourite {
		@include size.size;
		left: 58%;
		transition: 0.3s;
		span {
			display: flex;
			align-items: center;
			font-size: 14px;
			margin-left: 10px;
		}
	}
	.account {
		@include size.size;
		left: 70%;
		transition: 0.3s;
		span {
			display: flex;
			align-items: center;
			font-size: 14px;
			margin-left: 10px;
		}
	}
	.shopping-cart {
		position: absolute;
		top: 10px;
		left: 80%;
		height: 45px;
		width: 210px;
		border: 2px solid #e6e6e6;
		color: #000;
		.cart-bg {
			position: absolute;
			right: 168.5px;
			height: 45.8px;
			width: 40px;
			border-right: 2px solid #e6e6e6;
			.cart-icon {
				position: absolute;
				display: inline-block;
				top: 5px;
				height: 43px;
				padding: 4px 6px 0 6px;
				font-size: 27px;
			}
		}
		span {
			position: absolute;
			left: 44px;
			top: 5px;
			padding: 4px 3px 0 8px;
			font-size: 14px;
			p {
				position: absolute;
				left: 25px;
				top: 5px;
			}
		}
		.arrow-bg {
			position: absolute;
			top: 0;
			left: 170px;
			width: 39px;
			height: 46px;
			border-left: 2px solid #e6e6e6;
			border-bottom: 2px solid #e6e6e6;
			background-color: #9bcb3b;
		}
		.arrow-icon {
			display: inline-block;
			position: absolute;
			left: 173px;
			top: 5px;
			height: 41px;
			color: #fff;
			padding: 4px 6px 0 6px;
			font-size: 27px;
		}
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		top: 70px;
		width: 100%;
		height: 50px;
		margin: 0 5px;
		text-transform: uppercase;
		color: #000;
		border-bottom: 2px solid #e6e6e6;
		.nav-item {
			display: flex;
			font-size: 14px;
			transition: 0.5s;
			cursor: pointer;
		}
		.nav-item:hover {
			color: #2bbe2b;
			background-color: #fff;
		}
	}
}
@media screen and(min-width: 200px) {
	.top {
		display: none;
	}
	header {
		height: 140px;
		nav {
			display: none;
		}
	}
}
@media screen and(min-width: 769px) and (max-width: 1100px) {
	.top {
		display: block;
		.icon {
			font-size: 12px;
		}
		.contact {
			top: 35px;
			left: 42%;
			span {
				font-size: 11px;
			}
		}
		.favourite {
			top: 35px;
			left: 54%;
			span {
				font-size: 11px;
			}
		}
		.account {
			top: 35px;
			left: 66%;
			span {
				font-size: 11px;
			}
		}
		.shopping-cart {
			left: 75%;
			top: 15px;
			height: 35px;
			width: 190px;
			span {
				font-size: 12px;
			}
			.cart-bg {
				height: 35px;
				width: 10px;
				right: 150px;
				.cart-icon {
					font-size: 19px;
					left: -25px;
				}
			}
			.arrow-icon {
				font-size: 16px;
				left: 171px;
			}
			.arrow-bg {
				height: 35px;
				width: 25px;
			}
		}
	}
	header {
		nav {
			.nav-item {
				font-size: 11px;
			}
		}
	}
}
@media screen and(min-width: 769px) {
	.top {
		display: block;
	}
	header {
		nav {
			display: flex;
		}
	}
}
