@use "./mixin'y.scss" as size;
main {
	display: flex;
	justify-content: center;
	background-color: rgba(136, 136, 136, 0.196);
	height: 100%;
	width: 100%;
	.changeBigImage {
		background-image: url("../img/img_02.jpg");
		transition: all 0.5;
	}
	.slider-bg {
		background-image: url("../img/img_01.jpg");
	}
	.slider-big {
		display: flex;
		position: relative;
		justify-content: center;
		margin-top: 20px;
		width: 92%;
		height: 550px;
		background-position: center;
		background-repeat: no-repeat;
		.arrow {
			top: 45%;
			position: absolute;
			width: 50px;
			height: 50px;
			border: 0;
			cursor: pointer;
			background-color: #999999;
		}
		.right {
			right: 0;
		}
		.left {
			left: 0;
		}
	}
	.banner {
		position: absolute;
		bottom: -325px;
		width: 32.4%;
		height: 300px;
		background-position: center;
		background-repeat: no-repeat;
		color: #fff;
		transition: scale .3s;

		.banner-text {
			position: absolute;
			font-family: "MetropolisB";
			font-size: 30px;
			top: 60px;
			left: 30px;
			overflow: hidden;
			z-index: 1;
			.heading2 {
				font-family: "MetropolisL";
			}
		}
		.see-more {
			width: 60%;
			height: 40px;
			border: 1px solid #fff;
			color: #fff;
			background-color: transparent;
			text-transform: uppercase;
			cursor: pointer;
			transition: background-color .4s;
		}
		.see-more:hover{
			background-color: #F74137;
		}
		.banner-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.447);
		}
	}
	.banner:hover{
		scale: 1.1;
	}

	.left {
		background-image: url("../img/img_02.jpg");
		background-position: -150px 0;
	}
	.middle {
		background-image: url("../img/img_03.jpg");
		background-position: -150px 0;
	}
	.right {
		background-image: url("../img/img_05.jpg");
	}
}
@media screen and(min-width: 200px) {
	main {
		.slider-big {
			.banner {
				.banner-text {
					font-size: 13px;
				}
			}
		}
	}
}
@media screen and(min-width: 430px) {
	main {
		.slider-big {
			.banner {
				.banner-text {
					font-size: 20px;
				}
			}
		}
	}
}
@media screen and(min-width: 992px) {
	main {
		.slider-big {
			.banner {
				.banner-text {
					font-size: 30px;
				}
			}
		}
	}
}
@media screen and(min-width: 600px) {
	main {
		.slider-big {
			.banner {
				.banner-text {
					font-size: 30px;
				}
			}
		}
	}
}
