@media screen and(min-width: 200px) {
	.top {
		display: none;
	}
	header {
		height: 70px;
		.logo-mobile {
			display: block;
			left: 10%;
		}
		nav {
			display: none;
		}
	}
}
@media screen and(min-width: 430px) {
	header {
		.logo-mobile {
			left: 20%;
		}
	}
	main {
		.slider-big {
			.banner {
				.banner-text {
					font-size: 20px;
				}
				.see-more {
					font-size: 12px;
				}
			}
		}
		.recommended {
			bottom: -660px;
			font-size: 30px;
		}
		.slider-small {
			bottom: -1150px;
			.recommended_item {
				.recommended_item_info {
					height: 150px;
					h3 {
						font-size: 8px;
					}
					.recommended_item_infoCode {
						font-size: 10px;
					}
					.recommended_item_infoPrice--old {
						font-size: 12px;
					}
					.recommended_item_infoPrice--new {
						font-size: 12px;
					}
				}
			}
		}
	}
}
@media screen and(min-width: 600px) {
	header {
		.logo-mobile {
			left: 30%;
		}
		main {
			.slider-big {
				.banner {
					.banner-text {
						font-size: 27px;
					}
				}
			}
		}
	}
	main {
		.recommended {
			bottom: -660px;
			font-size: 35px;
		}
		.slider-small {
			bottom: -1150px;
			.recommended_item {
				.recommended_item_info {
					h3 {
						font-size: 14px;
					}
					.recommended_item_infoCode {
						font-size: 12px;
					}
					.recommended_item_infoPrice--old {
						font-size: 14px;
					}
					.recommended_item_infoPrice--new {
						font-size: 14px;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.nav-mobile {
		display: none;
	}
	.top {
		display: block;
		.logo-mobile {
			display: none;
		}
	}

	header {
		height: 140px;
		.logo {
			display: block;
		}
		.logo-mobile {
			display: none;
		}
		nav {
			display: flex;
		}
	}
	main {
		.recommended {
			bottom: -750px;
			font-size: 35px;
			.red-underline {
				width: 10%;
			}
		}
		.slider-small {
			bottom: -1240px;
		}
	}
}
@media screen and(min-width: 768px) and (max-width: 1100px) {
	.top {
		display: block;
		.icon {
			font-size: 12px;
		}
		.contact {
			top: 35px;
			left: 42%;
			span {
				font-size: 11px;
			}
		}
		.favourite {
			top: 35px;
			left: 54%;
			span {
				font-size: 11px;
			}
		}
		.account {
			top: 35px;
			left: 66%;
			span {
				font-size: 11px;
			}
		}
		.shopping-cart {
			left: 75%;
			top: 15px;
			height: 35px;
			width: 190px;
			span {
				font-size: 12px;
			}
			.cart-bg {
				height: 35px;
				width: 10px;
				right: 150px;
				.cart-icon {
					font-size: 19px;
					left: -25px;
				}
			}
			.arrow-icon {
				font-size: 16px;
				left: 171px;
			}
			.arrow-bg {
				height: 35px;
				width: 25px;
			}
		}
	}
	header {
		nav {
			.nav-item {
				font-size: 11px;
			}
		}
	}
}

@media screen and(min-width: 992px) {
	main {
		.slider-big {
			.banner {
				.banner-text {
					font-size: 30px;
				}
			}
		}
		.recommended {
			font-size: 40px;
			.red-underline {
				left: 45%;
				width: 10%;
			}
		}
	}
}
